.flat__description {
    width: 75%;
    padding-left: 10px;
}

.flat__description-content {
    font-size: 18px;
    color: var(--primary);
    font-weight: 500;
    text-align: left;
    line-height: 27px;
    padding: 10px;
}