.flat-list {
    align-items: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}